body {
  font-family: sans-serif;
  padding: 20px;
}

#chat {
  display: flex;
  gap: 20px;
}

#userListContainer {
  width: 200px;
}

#messages {
  list-style: none;
  padding: 0;
  max-height: 300px;
  overflow-y: auto;
}

#chatBox {
  flex-grow: 1;
}
